--
-- PostgreSQL database dump
--

\restrict wm3YmY7RB0Gbafsl1IxqgFWGCDZ2MVDaFKgRJBJ3Zf4Uak4Bd1qeHcZDmhMbDyd

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: absensi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi (
    id integer NOT NULL,
    id_mahasiswa character varying(20) NOT NULL,
    id_jadwal integer NOT NULL,
    id_mata_kuliah character varying(20) NOT NULL,
    tanggal_absensi timestamp with time zone DEFAULT now(),
    foto_absensi character varying(255),
    lokasi character varying(255),
    latitude double precision,
    longitude double precision,
    lokasi_valid boolean,
    confidence double precision,
    status character varying(20)
);


ALTER TABLE public.absensi OWNER TO postgres;

--
-- Name: absensi_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.absensi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.absensi_id_seq OWNER TO postgres;

--
-- Name: absensi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.absensi_id_seq OWNED BY public.absensi.id;


--
-- Name: dosen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dosen (
    id integer NOT NULL,
    id_dosen character varying(20) NOT NULL,
    nama_dosen character varying(100) NOT NULL,
    email character varying(100),
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.dosen OWNER TO postgres;

--
-- Name: dosen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dosen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dosen_id_seq OWNER TO postgres;

--
-- Name: dosen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dosen_id_seq OWNED BY public.dosen.id;


--
-- Name: foto_wajah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.foto_wajah (
    id integer NOT NULL,
    id_mahasiswa character varying(20) NOT NULL,
    id_foto character varying(50) NOT NULL,
    path_foto character varying(255) NOT NULL,
    face_embedding text,
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.foto_wajah OWNER TO postgres;

--
-- Name: foto_wajah_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.foto_wajah_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.foto_wajah_id_seq OWNER TO postgres;

--
-- Name: foto_wajah_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.foto_wajah_id_seq OWNED BY public.foto_wajah.id;


--
-- Name: jadwal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jadwal (
    id integer NOT NULL,
    id_dosen character varying(20) NOT NULL,
    id_mata_kuliah character varying(20) NOT NULL,
    hari character varying(20) NOT NULL,
    jam character varying(10) NOT NULL,
    tanggal timestamp with time zone,
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.jadwal OWNER TO postgres;

--
-- Name: jadwal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jadwal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jadwal_id_seq OWNER TO postgres;

--
-- Name: jadwal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jadwal_id_seq OWNED BY public.jadwal.id;


--
-- Name: kelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kelas (
    id integer NOT NULL,
    nama character varying(50) NOT NULL,
    pelajaran character varying(100),
    lokasi character varying(100),
    kode_gabung character varying(10) NOT NULL,
    id_dosen character varying(20) NOT NULL,
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.kelas OWNER TO postgres;

--
-- Name: kelas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kelas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kelas_id_seq OWNER TO postgres;

--
-- Name: kelas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kelas_id_seq OWNED BY public.kelas.id;


--
-- Name: kelas_mahasiswa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kelas_mahasiswa (
    id integer NOT NULL,
    id_kelas integer NOT NULL,
    id_mahasiswa character varying(20) NOT NULL,
    status character varying(20),
    bergabung_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.kelas_mahasiswa OWNER TO postgres;

--
-- Name: kelas_mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kelas_mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kelas_mahasiswa_id_seq OWNER TO postgres;

--
-- Name: kelas_mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kelas_mahasiswa_id_seq OWNED BY public.kelas_mahasiswa.id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mahasiswa (
    id integer NOT NULL,
    id_mahasiswa character varying(20) NOT NULL,
    nama_mahasiswa character varying(100) NOT NULL,
    email character varying(100),
    angkatan character varying(10),
    mata_kuliah character varying(200),
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.mahasiswa OWNER TO postgres;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mahasiswa_id_seq OWNER TO postgres;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mahasiswa_id_seq OWNED BY public.mahasiswa.id;


--
-- Name: mata_kuliah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mata_kuliah (
    id integer NOT NULL,
    id_mata_kuliah character varying(20) NOT NULL,
    nama character varying(100) NOT NULL,
    sks integer,
    aktif boolean,
    dibuat_pada timestamp with time zone DEFAULT now()
);


ALTER TABLE public.mata_kuliah OWNER TO postgres;

--
-- Name: mata_kuliah_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mata_kuliah_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mata_kuliah_id_seq OWNER TO postgres;

--
-- Name: mata_kuliah_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mata_kuliah_id_seq OWNED BY public.mata_kuliah.id;


--
-- Name: absensi id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi ALTER COLUMN id SET DEFAULT nextval('public.absensi_id_seq'::regclass);


--
-- Name: dosen id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dosen ALTER COLUMN id SET DEFAULT nextval('public.dosen_id_seq'::regclass);


--
-- Name: foto_wajah id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_wajah ALTER COLUMN id SET DEFAULT nextval('public.foto_wajah_id_seq'::regclass);


--
-- Name: jadwal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal ALTER COLUMN id SET DEFAULT nextval('public.jadwal_id_seq'::regclass);


--
-- Name: kelas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas ALTER COLUMN id SET DEFAULT nextval('public.kelas_id_seq'::regclass);


--
-- Name: kelas_mahasiswa id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas_mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.kelas_mahasiswa_id_seq'::regclass);


--
-- Name: mahasiswa id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq'::regclass);


--
-- Name: mata_kuliah id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mata_kuliah ALTER COLUMN id SET DEFAULT nextval('public.mata_kuliah_id_seq'::regclass);


--
-- Data for Name: absensi; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dosen; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dosen (id, id_dosen, nama_dosen, email, dibuat_pada) FROM stdin;
1	01	Jhon	Jhon@gmail.com	2026-06-20 16:24:52.477223+07
\.


--
-- Data for Name: foto_wajah; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jadwal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jadwal (id, id_dosen, id_mata_kuliah, hari, jam, tanggal, dibuat_pada) FROM stdin;
1	01	01	1	13:00	\N	2026-06-20 23:30:36.183897+07
\.


--
-- Data for Name: kelas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kelas (id, nama, pelajaran, lokasi, kode_gabung, id_dosen, dibuat_pada) FROM stdin;
1	Jhon	Bahasa Inggris	GU 702	riqr2o#	01	2026-06-20 16:25:38.12005+07
\.


--
-- Data for Name: kelas_mahasiswa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kelas_mahasiswa (id, id_kelas, id_mahasiswa, status, bergabung_pada) FROM stdin;
\.


--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mahasiswa (id, id_mahasiswa, nama_mahasiswa, email, angkatan, mata_kuliah, dibuat_pada) FROM stdin;
1	0123	Anonim	anonim@gmail.com	2024	\N	2026-06-20 23:52:13.519731+07
2	3312401110	Adrian	adrian@gmail.com	2024	\N	2026-06-20 23:53:06.830349+07
\.


--
-- Data for Name: mata_kuliah; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mata_kuliah (id, id_mata_kuliah, nama, sks, aktif, dibuat_pada) FROM stdin;
1	01	Jhon	10	t	2026-06-20 23:28:45.981433+07
\.


--
-- Name: absensi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_id_seq', 48, true);


--
-- Name: dosen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dosen_id_seq', 1, true);


--
-- Name: foto_wajah_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.foto_wajah_id_seq', 9, true);


--
-- Name: jadwal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jadwal_id_seq', 1, true);


--
-- Name: kelas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kelas_id_seq', 1, true);


--
-- Name: kelas_mahasiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kelas_mahasiswa_id_seq', 1, false);


--
-- Name: mahasiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mahasiswa_id_seq', 2, true);


--
-- Name: mata_kuliah_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mata_kuliah_id_seq', 1, true);


--
-- Name: absensi absensi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_pkey PRIMARY KEY (id);


--
-- Name: dosen dosen_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_email_key UNIQUE (email);


--
-- Name: dosen dosen_id_dosen_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_id_dosen_key UNIQUE (id_dosen);


--
-- Name: dosen dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_pkey PRIMARY KEY (id);


--
-- Name: foto_wajah foto_wajah_id_foto_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_wajah
    ADD CONSTRAINT foto_wajah_id_foto_key UNIQUE (id_foto);


--
-- Name: foto_wajah foto_wajah_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_wajah
    ADD CONSTRAINT foto_wajah_pkey PRIMARY KEY (id);


--
-- Name: jadwal jadwal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_pkey PRIMARY KEY (id);


--
-- Name: kelas kelas_kode_gabung_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas
    ADD CONSTRAINT kelas_kode_gabung_key UNIQUE (kode_gabung);


--
-- Name: kelas_mahasiswa kelas_mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas_mahasiswa
    ADD CONSTRAINT kelas_mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: kelas kelas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas
    ADD CONSTRAINT kelas_pkey PRIMARY KEY (id);


--
-- Name: mahasiswa mahasiswa_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_email_key UNIQUE (email);


--
-- Name: mahasiswa mahasiswa_id_mahasiswa_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_id_mahasiswa_key UNIQUE (id_mahasiswa);


--
-- Name: mahasiswa mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: mata_kuliah mata_kuliah_id_mata_kuliah_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mata_kuliah
    ADD CONSTRAINT mata_kuliah_id_mata_kuliah_key UNIQUE (id_mata_kuliah);


--
-- Name: mata_kuliah mata_kuliah_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mata_kuliah
    ADD CONSTRAINT mata_kuliah_pkey PRIMARY KEY (id);


--
-- Name: ix_absensi_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_absensi_id ON public.absensi USING btree (id);


--
-- Name: ix_dosen_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_dosen_id ON public.dosen USING btree (id);


--
-- Name: ix_foto_wajah_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_foto_wajah_id ON public.foto_wajah USING btree (id);


--
-- Name: ix_jadwal_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_jadwal_id ON public.jadwal USING btree (id);


--
-- Name: ix_kelas_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kelas_id ON public.kelas USING btree (id);


--
-- Name: ix_kelas_mahasiswa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_kelas_mahasiswa_id ON public.kelas_mahasiswa USING btree (id);


--
-- Name: ix_mahasiswa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_mahasiswa_id ON public.mahasiswa USING btree (id);


--
-- Name: ix_mata_kuliah_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_mata_kuliah_id ON public.mata_kuliah USING btree (id);


--
-- Name: absensi absensi_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id);


--
-- Name: absensi absensi_id_mahasiswa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_id_mahasiswa_fkey FOREIGN KEY (id_mahasiswa) REFERENCES public.mahasiswa(id_mahasiswa);


--
-- Name: absensi absensi_id_mata_kuliah_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_id_mata_kuliah_fkey FOREIGN KEY (id_mata_kuliah) REFERENCES public.mata_kuliah(id_mata_kuliah);


--
-- Name: foto_wajah foto_wajah_id_mahasiswa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_wajah
    ADD CONSTRAINT foto_wajah_id_mahasiswa_fkey FOREIGN KEY (id_mahasiswa) REFERENCES public.mahasiswa(id_mahasiswa);


--
-- Name: jadwal jadwal_id_dosen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_id_dosen_fkey FOREIGN KEY (id_dosen) REFERENCES public.dosen(id_dosen);


--
-- Name: jadwal jadwal_id_mata_kuliah_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_id_mata_kuliah_fkey FOREIGN KEY (id_mata_kuliah) REFERENCES public.mata_kuliah(id_mata_kuliah);


--
-- Name: kelas kelas_id_dosen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas
    ADD CONSTRAINT kelas_id_dosen_fkey FOREIGN KEY (id_dosen) REFERENCES public.dosen(id_dosen);


--
-- Name: kelas_mahasiswa kelas_mahasiswa_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas_mahasiswa
    ADD CONSTRAINT kelas_mahasiswa_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id);


--
-- Name: kelas_mahasiswa kelas_mahasiswa_id_mahasiswa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas_mahasiswa
    ADD CONSTRAINT kelas_mahasiswa_id_mahasiswa_fkey FOREIGN KEY (id_mahasiswa) REFERENCES public.mahasiswa(id_mahasiswa);


--
-- PostgreSQL database dump complete
--

\unrestrict wm3YmY7RB0Gbafsl1IxqgFWGCDZ2MVDaFKgRJBJ3Zf4Uak4Bd1qeHcZDmhMbDyd

